#bottom {
  border-top: 1px solid #fff;
  margin-top: 2em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}
.bottom-nav {
  color: #ffe;
  margin-bottom: 1em;
  margin-right: 2em;
}
.bottom-info {
  margin-right: 2em;
}
