#header-left {
  display: block;
  margin-left: 2em;
  width: 50%;
}
#header-title a {
  color: $color-a;
  text-decoration: none;
}
#header-title a:hover {
  text-decoration: none;
  color: $color-a-hover;
}
#header-right {
  display: inline;
  margin-right: 2em;
  width: 50%;
  text-align: right;
}
#header-right a {
  font-size: 1.1rem;
  margin-left: 2em;
  color: $color-a;
  text-decoration: none;
}
#header-right a:hover {
  color: $color-a-hover;
}
#header-title a {
  font-size: 1.5rem;
}
#header-title a:hover {
  font-size: 2rem;
}
