#header-left {
  margin-left: 2em;
  width: 300px;
}
#header-title a {
  color: $color-a;
  text-decoration: none;
}
#header-title a:hover {
  text-decoration: none;
  color: $color-a-hover;
}
#header-right {
  margin-right: 2em;
  width: 400px;
}
#header-right a {
  font-size: 1.1rem;
  margin-left: 2em;
  color: $color-a;
  text-decoration: none;
}
#header-right a:hover {
  color: $color-a-hover;
}
#header-title a {
  font-size: 1.5rem;
}
#header-title a:hover {
  font-size: 2rem;
}
