#page-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 0.5em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#page-nav a {
  text-decoration: none;
  color: $color-a;
}
#page-nav a:hover {
  color: $color-a-hover;
  background-color: #fff;
}
#page-nav .page-number,
#page-nav .extend {
  display: inline-block;
  width: 2em;
  height: 2em;
  margin-left: 1em;
  text-align: center;
  line-height: 30px;
}
#page-nav .current {
  background-color: $color-background;
}
